@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  border: 10px solid black;
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}

@layer components {
  .popover {
    
  }
}